# --- Terraform ---
# どこにある .terraform ディレクトリも無視する
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
src/secrets.txt

# --- Docker & Data ---
**/woodpecker-data/
**/docker-compose.override.yml

# --- その他 ---
.DS_Store
.env*src/secrets.txt
