services:
  woodpecker-server:
    image: woodpeckerci/woodpecker-server:latest
    ports:
      - "8000:8000"
    volumes:
      - ./woodpecker-data:/var/lib/woodpecker/
    environment:
      - WOODPECKER_OPEN=true
      - WOODPECKER_HOST=http://[あなたのEC2パブリックIP]:8000
      - WOODPECKER_GITHUB=true
      - WOODPECKER_GITHUB_CLIENT=[GitHubのClient ID]
      - WOODPECKER_GITHUB_SECRET=[GitHubのClient Secret]
      - WOODPECKER_AGENT_SECRET=secret-token

  woodpecker-agent:
    image: woodpeckerci/woodpecker-agent:latest
    command: agent
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WOODPECKER_SERVER=woodpecker-server:9000
      - WOODPECKER_AGENT_SECRET=secret-token
